<h1>Adding a new product</h1>

{{ form_start(f_ressource) }}
    {{ form_row(f_ressource.titre) }}
    {{ form_row(f_ressource.type) }}
    {{ form_row(f_ressource.file) }}
    {{ form_row(f_ressource.idCours) }}
    {{ form_row(f_ressource.save) }}
{{ form_end(f_ressource) }}

