{% extends 'base1.html.twig' %}

{% block title %}Classes{% endblock %}
{% block navimg %}
{% endblock %}
{% block body %}
<hr style="color: #103741; margin:0%">
<div style="margin: 50px ;" class="container">
    <div class="bg-light rounded">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="h-100 d-flex flex-column justify-content-center p-5">

                    <h1 class="mb-3">Add a course</h1>
                    {{ form_start( editf) }}
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.titre, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Title'}})
                                }}
                                {{ form_label(editf.titre, 'Title') }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.description, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Description','style': 'height: 150px'}}) }}
                                {{ form_label(editf.description, 'Description') }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.duree, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Period in weeks'}}) }}
                                {{ form_label(editf.duree, 'Period in weeks') }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.nbChapitre, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Number of chapters'}}) }}
                                {{ form_label(editf.nbChapitre, 'Number of chapters') }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.categorie, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Categorie'}}) }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            {{ form_widget(editf.save, {'attr': {'class': 'btn btn-primary w-100 py-3'}}) }}
                        </div>
                    </div>
                    {{ form_end(editf) }}

                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s"
                style="min-height: 400px; visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{{ asset('asset/User/img/appointment.jpg') }}"
                        style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}