{% extends 'base1.html.twig' %}
{% block title %}Classes{% endblock %}
{% block navimg %}
{% endblock %}
{% block body %}
<hr style="color: #103741; margin:0; padding:0" />
<div class="container bg-white" id="content">
    <div class="row g-3 ">
        <div class="col-lg-6">
            <h3 style="margin:50px;">New Categories</h3>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
            <a style="margin:50px; font-size:large" class="btn btn-primary" href="{{path('category.add')}}">New Category</a>
        </div>
    </div>
    <div class="row g-3 ">
        {% for c in NewCategories %}
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="classes-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                    <img class="img-fluid rounded-circle" src="{{asset('uploads/images/' ~ c.image)}}" alt="">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5 mb-3">
                    <a class="d-block text-center h3 mt-3 mb-4"
                        href="{{path('category.showbyid',{'id':c.id})}}">{{c.titre}}
                    </a>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div style="height: 100px;" class="d-flex align-items-center">
                            <small style="text-align:justify;" class="ms-3">{{c.description}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr style="color: #103741; margin: 12px; padding:0" />
    <div class="row g-3">
        <h3 style="margin:50px;">All Categories</h3>
        {% for c in categorie %}
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="classes-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                    <img class="img-fluid rounded-circle" src="{{asset('uploads/images/' ~ c.image)}}" alt="">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5 mb-3">
                    <a class="d-block text-center h3 mt-3 mb-4"
                        href="{{path('category.showbyid',{'id':c.id})}}">{{c.titre}}
                    </a>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div style="height: 100px;" class="d-flex align-items-center">
                            <small style="text-align:justify;" class="ms-3">{{c.description}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}