{% extends 'Admin/base.html.twig' %}

{% block title %} Edit category {% endblock %}

{% block content %}
<div class="card">
    <div class="border-bottom-0 p-0 card-header">
        <div class="nav-lb-tab nav card-header-undefined" role="tablist">
            <div class="nav-item">
                <a role="tab" data-rr-ui-event-key="all" id="react-aria-240-tab-all"
                    aria-controls="react-aria-240-tabpane-all" aria-selected="true"
                    class="mb-sm-3 mb-md-0 nav-link active" tabindex="0"
                    href="{{path('admin.category.show')}}">Go back</a>
            </div>
    </div
</div>
<hr style="color: #103741; margin:0%">
<div style="margin: 50px ;" class="container">
    <div class="bg-light rounded">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="h-100 d-flex flex-column justify-content-center p-5">
                    <h1 class="mb-3">Edit a category</h1>
                    {{ form_start( editf,{'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.titre, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Title'}})
                                }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form_widget(editf.description, {'attr': {'class': 'form-control border-0',
                                'placeholder':
                                'Description','style': 'height: 150px'}}) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div>
                                {{ form_widget(editf.image, {'attr': {'class': 'form-control border-0 bg-white'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            {{ form_widget(editf.save, {'attr': {'class': 'btn btn-primary w-100 py-3','style':'background-color:#103741;color:white'}}) }}
                        </div>
                    </div>
                    {{ form_end(editf) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}