{% extends 'Admin/cours/showDetail.html.twig' %}
{% block categorie %}

<div id="cat" class="content">
    <div class="card-body">
        <div>
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width:20%;">
                                        Title
                                    </th>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width:16%;">
                                        Number of chapters
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending" style="width:16%;">
                                        Esteamed periode
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending" style="width:16%;">
                                        Category
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending" style="width:16%;">
                                        Status
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width:16%;;">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courslist %}
                                <tr class="odd">
                                    <td>{{course.titre}}</td>
                                    <td class="sorting_1">{{course.nbChapitre}}</td>
                                    <td>{{course.duree}}</td>
                                    <td>{{course.categorie}}</td>
                                    <td>{{course.status}}</td>
                                    <td style="border-left:none ;border-top:none;border-right:none" class="row">
                                        <div class="col-lg-4"><a
                                                href="{{path('app_admin.cours.valid',{'id':course.id})}}">
                                                <i style="color:#FE5D37;" class="fa-solid fa-check"></i></a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="{{path('app_admin.cours.edit',{'id':course.id})}}">update</a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="{{path('app_admin.cours.delete',{'id':course.id})}}">delete</a>
                                        </div>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}