{% extends 'Admin/base.html.twig' %}

{% block content %}
    <style>

        .btn-add-event {
            background-color: #FE5D37;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 15px 30px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            display: inline-block;
            text-align: center;
            font-size: 18px;
            margin: 20px auto;
        }

        .btn-add-event:hover {
            color: orange;
        }
    </style>


    <div style="text-align: center;">
        <a href="{{ path('statsquestion')}}" class="btn-add-event">Statistique</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Responses</h5>

        <!-- Loop through each response -->
        {% for response in Reponse %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Fullname: {{ response.fullname }}</h5>
                    <p class="card-text">Question: {{ response.questions.name }}</p>
                    <p class="card-text">Description: {{ response.description }}</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn cur-p btn-danger" href="{{ path('delete_adh', {'id': response.id}) }}">Delete</a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(Reponse) }}
    </div>
    </div>
{% endblock %}
