<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Reset your password

    </title>


    <link href="{{ asset('asset/Admin/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('asset/Admin/css/style.css') }}">
    <link href="{{asset('node_module/@fortawesome/fontawesome-free/css/all.css')}}" rel="stylesheet" />
</head>

<body id="page-top">

<div class="container mt-5">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image">

                            <img class="position-absolute w-100 h-100 rounded" src="{{ asset('asset/User/img/appointment.jpg') }}"
                                 style="object-fit: cover;">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                        and we'll send you a link to reset your password!</p>
                                </div>

                                    {{ form_start(requestForm,{'attr': {'novalidate': 'novalidate',
                                        'class' : 'user'

                                    } }) }}
                                    {% for flash_error in app.flashes('reset_password_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                    {% endfor %}
                                    <div class="form-group">

                                        {{ form_row(requestForm.email,{ 'attr' : {
                                            'class' : 'form-control form-control-user',
                                            'placeholder' : 'Enter Email Address...',
                                            'aria-describedby' : 'emailHelp'

                                        }}) }}
                                    </div>


                                <button class="btn bgOrange blColor btn-user btn-block">Reset Password</button>
                                {{ form_end(requestForm) }}

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ path('app_register') }}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ path('app_login') }}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>




















{#    {% for flash_error in app.flashes('reset_password_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>#}
{#    {% endfor %}#}
{#    <h1>Reset your password</h1>#}

{#    {{ form_start(requestForm) }}#}
{#        {{ form_row(requestForm.email) }}#}
{#        <div>#}
{#            <small>#}
{#                Enter your email address, and we will send you a#}
{#                link to reset your password.#}
{#            </small>#}
{#        </div>#}

{#        <button class="btn btn-primary">Send password reset email</button>#}
{#    {{ form_end(requestForm) }}#}

    <script src="{{ asset('asset/Admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('asset/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('asset/Admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('asset/Admin/js/sb-admin-2.min.js') }}"></script>

</body>

</html>
