{% extends 'Admin/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
            <div class="mb-3"> 
                <label class="form-label">Name</label>
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.nom) }}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.description) }}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.categorie) }}
                </div>
            </div>
            <div class="mb-3">

                <label class="form-label">Start Date</label>
                   {{ form_errors(form.dateDebut) }}
                {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                   
                </div>
            </div>
            <br>
            <div class="mb-3">
                <label class="form-label">End Date</label>
                 {{ form_errors(form.dateFin) }}
                {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                   
                </div>
            </div>
            <br>
            <div class="mb-3">
                <label class="form-label">Number of Participants</label>
                {{ form_widget(form.nbParticipant, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.nbParticipant) }}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Location</label>
                {{ form_widget(form.localisation, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(form.localisation) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #FE5D37;">Submit</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}