 <div class="row p-4">
        {% for cl in courslist %}
        <div style="margin-bottom:20px" class="col-lg-4">
            <a href="{{path('app_course.chapters',{'id':cl.id})}}">
                <div style="border: 2px solid #103741 ; border-radius: 20px ; width: 400px; height:200px ;">
                    <table width="100%">
                        <tr>
                            <td rowspan="2"><h3 style="margin-left:20px; color:#369669 ;" class="mb-1 mt-1">{{cl.titre}}</h3></td>
                            <td align="right" ><h6 style="margin-right:20px;" class="mb-1 mt-1">{{cl.duree}} semaines</h6></td>
                        </tr>
                        <tr>
                            <td align="right" ><h6 style="margin-right:20px;" class="mb-1 mt-1">{{cl.nbChapitre}} semaines</h6></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="color:black ;margin:20px" class="fs-7">{{cl.description}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>                                                               
        </div>
        {% endfor %}
    </div>
