{% extends 'base1.html.twig' %}
{% block navimg %}
{% endblock %}
{% block body %}
<style>
.navigation {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
}

.pagination-button {
    background-color: #dbdfe4;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px; /* Ajoute une marge horizontale entre les boutons */
    width: 100px; /* Spécifie une largeur fixe pour tous les boutons */
}

.pagination-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.event-card {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.event-details {
    margin-bottom: 10px;
}


.event-actions {
    display: flex;
    justify-content: flex-end;
}

.btn-edit, .btn-delete, .btn-participer {
    background-color: #FE5D37;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.btn-edit:hover, .btn-delete:hover, .btn-participer:hover {
    background-color:#FE5D37;
}
.event-image {
    width: 150px; 
    height: auto; 
    border-radius: 8px; 
    align-self: center; 
    margin-bottom: 10px;
}
</style>
<style>
  
    .btn-add-event {
        background-color: #FE5D37;
        color: #fff;
        border: none;
        border-radius: 8px; 
        padding: 15px 30px; 
        text-decoration: none;
        transition: background-color 0.3s ease;
        display: inline-block; 
        text-align: center;
        font-size: 18px; 
        margin: 20px auto; 
    }
    
  
    </style>
    
    <div style="text-align: center;"> 
        <a href="{{ path('addevenement')}}" class="btn-add-event">Create a new event</a>
    </div>
{#    #}
{#  <form action="{{ path('showevenementp') }}" method="get">#}
{#    <label for="categorie">Category:</label>#}
{#    <input type="text" id="categorie" name="categorie">#}
{#    #}
{#    <label for="localisation">Location:</label>#}
{#    <input type="text" id="localisation" name="localisation">#}
{#    <input type="submit" value="Filter">#}
{#</form>#}

    <form action="{{ path('showevenementp') }}" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="categorie" class="form-label">Category:</label>

                    <input type="text" id="categorie" name="categorie" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="localisation" class="form-label">Location:</label>

                    <input type="text" id="localisation" class="form-control" name="localisation">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3 d-grid">
                    <label for="lou" class="invisible">Bouton</label>
                    <input type="submit" class="btn btn-participer " value="Filter" name="lou">
                </div>
            </div>
        </div>
    </form>
   
        {% for a in evenement %}
        <div class="event-card">
            <img src="{{ asset('asset/User/img/th2.jpg') }}" alt="Image de l'événement" class="event-image">
            <div class="event-details">
                <p><strong>Event Name:</strong>{{ a.nom }}</p>
                <p><strong>Description:</strong>{{ a.description }}</p>
                <p><strong>Start Date:</strong> {{ a.dateDebut|date('Y-m-d') }}</p>
                <p><strong>End Date:</strong>{{ a.dateFin|date('Y-m-d') }}</p>
                <p><strong>Location:</strong>{{ a.localisation }}</p>
                <p><strong>Category:</strong>{{ a.categorie }}</p>
                <p><strong>Number of Participants:</strong> {{ a.nbParticipant }}</p>
            </div>
            <div class="event-actions">
                <a href="{{ path('editevenement', {'id': a.id}) }}" class="btn-edit">Update</a>
                <a href="{{ path('deleteevenementp', {'id': a.id}) }}" class="btn-delete">Delete</a>
            </div>
        </div>
        {% endfor %}
        <div class="navigation">
            <ul class="pagination">
                <li class="page-item">
                    {% if evenement.currentPageNumber > 1 %}
                        <a href="{{ path('showevenementp', {'page': evenement.currentPageNumber - 1}) }}" class="page-link pagination-button">Previous</a>
                    {% else %}
                        <span class="page-link pagination-button disabled">Previous</span>
                    {% endif %}
                </li>
                <li class="page-item">
                    {% if evenement.currentPageNumber < evenement.pageCount %}
                        <a href="{{ path('showevenementp', {'page': evenement.currentPageNumber + 1}) }}" class="page-link pagination-button">Next</a>
                    {% else %}
                        <span class="page-link pagination-button disabled">Next</span>
                    {% endif %}
                </li>
            </ul>
        </div>


    {% endblock %}
    
    
    