{% extends 'Admin/base.html.twig' %}

{% block title %}Add a Quiz{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Add a Quiz</div>

                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.titre, 'Title') }}
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.titre) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.temp, 'Time') }}
                        {{ form_widget(form.temp, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.temp) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nbquestion, 'Number of Questions') }}
                        {{ form_widget(form.nbquestion, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.nbquestion) }}
                    </div>
                      <button type="submit" class="btn btn-primary">Save</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
