{% extends 'Admin/base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block content %}

<div class="container-fluid">


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Subscriptionst</h6>
        </div>
        <div class="card-body">
            <div>
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Office: activate to sort column ascending"
                                            style="width:8%;">
                                            Type</th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Name: activate to sort column descending" style="width:25%;">
                                            Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width:25%;">
                                            Periode</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width:25%;">
                                            Book date
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Office: activate to sort column ascending"
                                            style="width:17%;">
                                            Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in abonnement %}
                                    <tr class="odd">
                                        <td class="sorting_1">{{a.type}}</td>
                                        <td>{{a.tarif}}</td>
                                        <td>{{a.duree}}</td>
                                        <td>{{a.dateDebut|date('Y-m-d H:i:s')}}</td>
                                        <td style="border-left:none ;border-top:none;border-right:none" class="row">
                                            <div class="col-lg-6"><a href="{{path('app_editabonnement',{'id':a.id})}}">
                                                <i style="color:#103741; margin-left:10px" class="bi fa-2x bi-pen"></i></a>
                                            </div>
                                            <div class="col-lg-6"><a href="{{path('app_deleteabonnement',{'id':a.id})}}">
                                            <i style="color:#FE5D37;" class="bi fa-2x bi-trash"></i></a>
                                        </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}